<div class = "modal-header">
	<h4>Edit Job Level</h4>
</div>

<div class = "modal-edit-fields">
	<%= form_for @jobLevel, html: {class: "form-horizontal"} do |f|%>
		<%= render 'form'%>
	<%end%>
</div>